
name: Check workflow running linter, unit and functional tests

concurrency:
  group: ${{ github.workflow }}


on:
  workflow_call:
  pull_request:
    types: [ opened, synchronize, reopened ]
    branches: [ master, main ]
    paths-ignore:
      - '**.md'
      - '**.rst'

jobs:
  lint-unit:
    name: Lint checkers and unit tests
    uses: canonical/bootstack-actions/.github/workflows/lint-unit.yaml@v2
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10']
    with:
      python-version: ${{ matrix.python-version }}
      tox-version: '<4'

  func:
    name: Functional tests
    needs: lint-unit
    runs-on: self-hosted
    timeout-minutes: 120
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Setup Juju environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: openstack-test
          juju-channel: "3.1/stable"
          credentials-yaml: ${{ secrets.CREDENTIALS_YAML }}
          clouds-yaml: ${{ secrets.CLOUDS_YAML }}
      - name: Install tox
        run: |
          python -m pip install --upgrade pip
          python -m pip install "tox"
      - name: Run func tests
        run: make functional
